<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="classpath:com/university/data_access/config/db_access.xml"/>

    <import resource="classpath:com/university/data_access/config/data_access.xml"/>

    <import resource="classpath:com/university/data_access/config/manager.xml"/>

    <import resource="classpath:com/university/web/config/spring/presentation.xml"/>

</beans>